# PyCitySchools

In [1]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:
# Store into DataFrames
school_data_df = pd.DataFrame(school_data)

total_schools = school_data_df["School ID"].count()
total_students = school_data_df["size"].sum()
total_budget = school_data_df["budget"].sum()

school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Print Quick sumary of total schools, total students and total budget
print(total_schools, total_students, total_budget)

15 39170 24649428

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(school_data, student_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# Total Schools
total_schools = school_data_complete ["school_name"].nunique()
total_schools

15

In [6]:
# Total Students
total_students = school_data_complete["student_name"].count()
total_students

39170

In [7]:
# Total Budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [8]:
# Average Math Score
avg_math_score = round(school_data_complete["math_score"].mean(),2)
avg_math_score

78.99

In [9]:
# Average Reading Score
avg_reading_score = round(school_data_complete["reading_score"].mean(),2)
avg_reading_score

81.88

In [10]:
# Total of Students with a passing math score of 70 or greater
students_passing_math = school_data_complete[school_data_complete["math_score"]>=70].count()["student_name"]

# Percentage of Students Passing maths
percentage_passed_math = round((students_passing_math/total_students)*100,2)
percentage_passed_math

74.98

In [11]:
# Total Students with a passing reading score of 70 or greater
students_passing_reading = school_data_complete[school_data_complete["reading_score"]>=70].count()["student_name"]

# Percentage of students Passing Reading
percentage_passed_reading = round((students_passing_reading/total_students)*100,2)
percentage_passed_reading

85.81

In [12]:
# Percentage Overall Passing (The percentage of students that passed math and reading)
passing_math_reading = school_data_complete.loc[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
students_passing_both = len(passing_math_reading)
percentage_students_passing_both = round((students_passing_both/total_students)*100,2)
percentage_students_passing_both

65.17

In [13]:
# Dataframe Summary of above results
district_Summary_df = pd.DataFrame({"Total Schools":[total_schools],
                      "Total Students":[total_students],
                      "Total Budget":[total_budget],
                      "Average Math Score":[avg_math_score],
                      'Average Reading Score':[avg_reading_score],
                      "% Passing Math":[percentage_passed_math],
                      "% Passing Reading":[percentage_passed_reading],
                      "% Overall Passing":[percentage_students_passing_both]})

In [14]:
# Format
district_Summary_df['Total Budget'] = district_Summary_df['Total Budget'].map('${:,.2f}'.format)

district_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

* School Name

* School Type

* Total Students

* Total School Budget

* Per Student Budget

* Average Math Score

* Average Reading Score

* % Passing Math

* % Passing Reading

* % Overall Passing (The percentage of students that passed math **and** reading.)

In [15]:
# Create index for School name and Type
school_name_type = school_data_df.set_index(["school_name"])["type"]
school_name_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
# Total Students Per School
total_students_per_school = school_data_complete["school_name"].value_counts()
total_students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [17]:
# Total School Budget
total_budget_per_school = school_data_complete.groupby(["school_name"]).mean()["budget"]
total_budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [18]:
# Budget Per Student
budget_per_student = total_budget_per_school/total_students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
# Average Math Score Per School
avg_math_score = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
avg_math_score

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [20]:
# Average Reading Score Per School
avg_reading_score = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
avg_reading_score

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [21]:
# Percentage of Students Passing Maths Per School
students_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]
students_passing_math_perschool = students_passing_math.groupby(["school_name"]).count()["student_name"]
prctg_passing_math_perschool = round((students_passing_math_perschool/total_students_per_school)*100,2)
prctg_passing_math_perschool

Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [22]:
# Percentage of Students Passing Reading Per School
students_passing_reading = school_data_complete[school_data_complete["reading_score"]>=70]
students_passing_rding_perschool = students_passing_reading.groupby(["school_name"]).count()["student_name"]
prctg_passing_rding_perschool = round((students_passing_rding_perschool/total_students_per_school)*100,2)
prctg_passing_rding_perschool

Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [23]:
# Percentage of Overall Passing Maths and Reading Per School
overall_passing_math = school_data_complete[school_data_complete['math_score'] >=70].groupby('school_name')['Student ID'].count()/total_students_per_school *100
overall_passing_reading = school_data_complete[school_data_complete['reading_score'] >=70].groupby('school_name')['Student ID'].count()/total_students_per_school *100
overall_passing_mth_rding = school_data_complete[(school_data_complete['reading_score'] >=70) & (school_data_complete['math_score'] >=70)].groupby('school_name')['Student ID'].count()/total_students_per_school*100
overall_passing_mth_rding

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [24]:
# Dataframe Summary of above results
school_summary_df = pd.DataFrame({"School Type":school_name_type,
                                "Total Students":total_students_per_school,
                                "Total School Budget":total_budget_per_school,
                                "Per Student Budget":budget_per_student,        
                                "Average Math Score":avg_math_score,
                                "Average Reading Score":avg_reading_score,
                                "% Passing Math":prctg_passing_math_perschool,
                                "% Passing Reading":prctg_passing_rding_perschool,
                                "% Overall Passing":overall_passing_mth_rding})

In [25]:
# Format
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,90.333333

##  Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [26]:
# Dataframe Summary sorted in order of highest overall passing for the top 5 performing schools
top_performing_schools = school_summary_df.sort_values(["% Overall Passing"],ascending = False).head(5)
top_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [27]:
# Dataframe Summary sorted in order of lowest overall passing for the bottom 5 performing schools
bottom_performing_schools = school_summary_df.sort_values(["% Overall Passing"],ascending = True).head(5)
bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.539172

# Math Scores by Grade

* Create a table that lists the average Maths Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [28]:
# Create pandas series of scores by grade using conditionals
grade_9 = school_data_complete[(school_data_complete["grade"] == "9th")]
grade_10 = school_data_complete[(school_data_complete["grade"] == "10th")]
grade_11 = school_data_complete[(school_data_complete["grade"] == "11th")]
grade_12 = school_data_complete[(school_data_complete["grade"] == "12th")]

In [29]:
# Group each series by school name
grade_9_scores = grade_9.groupby(["school_name"]).mean()["math_score"]
grade_10_scores = grade_10.groupby(["school_name"]).mean()["math_score"]
grade_11_scores = grade_11.groupby(["school_name"]).mean()["math_score"]
grade_12_scores = grade_12.groupby(["school_name"]).mean()["math_score"]

In [30]:
# Combine series into single data frame
per_grade_score = pd.DataFrame({"9th": grade_9_scores, "10th": grade_10_scores,
                                "11th": grade_11_scores, "12th": grade_12_scores})

In [31]:
# Clean and Format data frame
per_grade_score = per_grade_score[["9th", "10th", "11th", "12th"]]
per_grade_score.index.name = None
per_grade_score

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores by Grade

* Perform the same operations as above for reading scores

In [32]:
# Create pandas series of scores by grade using conditionals
grade_9 = school_data_complete[(school_data_complete["grade"] == "9th")]
grade_10 = school_data_complete[(school_data_complete["grade"] == "10th")]
grade_11 = school_data_complete[(school_data_complete["grade"] == "11th")]
grade_12 = school_data_complete[(school_data_complete["grade"] == "12th")]

In [33]:
# Group each series by school name
grade_9_scores = grade_9.groupby(["school_name"]).mean()["reading_score"]
grade_10_scores = grade_10.groupby(["school_name"]).mean()["reading_score"]
grade_11_scores = grade_11.groupby(["school_name"]).mean()["reading_score"]
grade_12_scores = grade_12.groupby(["school_name"]).mean()["reading_score"]

In [34]:
# Combine series into single data frame
per_grade_score = pd.DataFrame({"9th": grade_9_scores, "10th": grade_10_scores,
                                "11th": grade_11_scores, "12th": grade_12_scores})

In [35]:
# Clean and Format data frame
per_grade_score = per_grade_score[["9th", "10th", "11th", "12th"]]
per_grade_score.index.name = None
per_grade_score

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [36]:
# Apply the describe () method to return descriptive statistics
budget_per_student.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [37]:
# Create bins
spending_bins = [0, 585, 629, 644, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [38]:
# Group bins based on spending
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(budget_per_student, spending_bins, labels=group_names)

In [39]:
# Calculate bins based on spending
avg_spending_math_score = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
avg_spending_reading_score = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
pctg_spending_passing_math = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
pctg_spending_passing_reading = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
pctg_spending_overall_passing = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [40]:
# Combine series into single data frame
school_spending_summary = pd.DataFrame({"Average Math Score" : avg_spending_math_score,
                                 "Average Reading Score": avg_spending_reading_score,
                                 "% Passing Math": pctg_spending_passing_math,
                                 "% Passing Reading": pctg_spending_passing_reading,
                                 "% Overall Passing": pctg_spending_overall_passing})

In [41]:
# Clean and Format data frame
school_spending_summary["Average Math Score"] = school_spending_summary["Average Math Score"].map("{:,.2f}".format)
school_spending_summary["Average Reading Score"] = school_spending_summary["Average Reading Score"].map("{:,.2f}".format)
school_spending_summary["% Passing Math"] = school_spending_summary["% Passing Math"].map("{:,.2f}".format)
school_spending_summary["% Passing Reading"] = school_spending_summary["% Passing Reading"].map("{:,.2f}".format)
school_spending_summary["% Overall Passing"] = school_spending_summary["% Overall Passing"].map("{:,.2f}".format)
school_spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.45,83.94,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

In [42]:
# Create bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [43]:
# Group bins based on school size
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=group_names)

In [44]:
# Calculate bins based school size
avg_size_math_score = school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
avg_size_reading_score = school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
pctg_size_passing_math = school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
pctg_size_passing_reading = school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
pctg_size_overall_passing = school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [45]:
# Combine series into single data frame
school_size_summary = pd.DataFrame({"Average Math Score" : avg_size_math_score,
                                 "Average Reading Score": avg_size_reading_score,
                                 "% Passing Math": pctg_size_passing_math,
                                 "% Passing Reading": pctg_size_passing_reading,
                                 "% Overall Passing": pctg_size_overall_passing})

In [46]:
# Clean and Format data frame
school_size_summary["Average Math Score"] = school_size_summary["Average Math Score"].map("{:,.2f}".format)
school_size_summary["Average Reading Score"] = school_size_summary["Average Reading Score"].map("{:,.2f}".format)
school_size_summary["% Passing Math"] = school_size_summary["% Passing Math"].map("{:,.2f}".format)
school_size_summary["% Passing Reading"] = school_size_summary["% Passing Reading"].map("{:,.2f}".format)
school_size_summary["% Overall Passing"] = school_size_summary["% Overall Passing"].map("{:,.2f}".format)
school_size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.87,93.60,96.79,90.62
Large (2000-5000),77.74,81.34,69.96,82.77,58.29

## Scores by School Type

* Perform the same operations as above, based on school type

In [47]:
# Calculate bins based school type
avg_type_math_score = school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
avg_type_reading_score = school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
pctg_type_passing_math = school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
pctg_type_passing_reading = school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
pctg_type_overall_passing = school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [48]:
# Combine series into single data frame
school_type_summary = pd.DataFrame({"Average Math Score" : avg_type_math_score,
                                 "Average Reading Score": avg_type_reading_score,
                                 "% Passing Math": pctg_type_passing_math,
                                 "% Passing Reading": pctg_type_passing_reading,
                                 "% Overall Passing": pctg_type_overall_passing})

In [49]:
# Clean and Format data frame
school_type_summary["Average Math Score"] = school_type_summary["Average Math Score"].map("{:,.2f}".format)
school_type_summary["Average Reading Score"] = school_type_summary["Average Reading Score"].map("{:,.2f}".format)
school_type_summary["% Passing Math"] = school_type_summary["% Passing Math"].map("{:,.2f}".format)
school_type_summary["% Passing Reading"] = school_type_summary["% Passing Reading"].map("{:,.2f}".format)
school_type_summary["% Overall Passing"] = school_type_summary["% Overall Passing"].map("{:,.2f}".format)
school_type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67